@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/*centralização da table*/

@media (max-width: 736px) {
  body,
  main,
  main.dates,
  main.tables {
    display: flex;
  }

  body {
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
    flex-direction: column;
  }

  main {
    /*para celular ou separar em um media query*/
    min-height: 98vh;
    width: 100vw;
    background-color: #dcdcdc;
    padding: 1.3rem 1rem 0 1rem;
    position: relative;
  }

  main {
    flex-direction: column;
  }

  main.dates {
    margin-bottom: 1rem;
    justify-content: inherit;
  }

  main.tables {
    justify-content: center;
  }

  /*formatação da logo e textos*/

  * {
    font-family: 'Poppins';
  }

  .logo {
    font-weight: 600;
    line-height: 25px;
  }

  #h2One {
    font-size: 1.8rem;
    line-height: 40px;
    color: #1d6579;
  }

  #h2Two {
    font-size: 1.8rem;
    color: #83a50d;
  }

  .dates {
    margin-top: 1.2rem;
    font-weight: 500;
    color: #83a50d;
  }

  #sendDate {
    color: #e5e5e5;
    border-radius: 4px;
    font-weight: 500;
    background-color: #83a50d;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    padding: 4px 10px;
    margin: 1rem 0;
  }

  .informeInitial {
    color: #1D6579;
    font-weight: 500;
  }

  .informeInitialNot {
    display: none;
  }

  /*inputs*/
  .inputDates {
    background-color: #e5e5e5;
    outline-color: #1d6579;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 2.5px;
  }

  .valuesBuy {
    background-color: transparent;
    margin-left: 1px;
    outline: none;
    cursor: text;
  }

  /*tables*/

  section.tablesInput {
    margin-top: 0.8rem;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  }

  section.borderActive {
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 0.4rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  section.showContainer {
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 0.4rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tableComponent, .tableComponentInput {
    width: 95%;
  }

  .firstTable {
    border: none;
  }

  table {
    font-size: 12pt;
    position: relative;
    margin: 5px 0;
  }

  table,
  th,
  td {
    border: 1px solid #1d6579;
    border-collapse: collapse;
    color: #3b3a3a;
  }

  td {
    padding: 2px 3px;
  }

  /*table values*/
  section.tablesValues {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  }

  div.fixedRectangle {
    display: flex;
    align-self: center;
    position: relative;
    bottom: 0;
    width: 300px;
    height: 14px;
    background: #1d6579;
    border-radius: 8px 8px 0px 0px;
  }


  div.circleIndex {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #1d6579;

    top: -30px;
    right: -30px;
  }
}

/*buttons*/

input[type="button"] {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionsEndContainer{
  justify-content: space-around;
}

.button {
  background-color: #83a50d;
  color: #e5e5e5;
  border-radius: 4px;
  padding: 4px 0px;
  margin: 20px 0px;
  width: 40%;
}

@media (max-width: 414px) {
  body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input.valuesBuy {
    position: relative;
    width: 70%;
  }
}